* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  text-decoration: none;
  font-style: none;
  font-weight: 400;
}

.cart {
  flex: 0 1 40%;
  background-color: #f5f3ed;
  border-radius: 5px;
  padding: 20px 10px;
}

.cart h2 {
  text-align: center;
  font-size: 25px;
  font-weight: 600;
  margin: 0px 0px 30px 0px;
}

.block {
  background-color: rgba(102, 102, 102, 0.69);
  border: 1px solid rgba(0, 0, 0, 0.552);
  border-radius: 10px;
  padding: 20px;
  max-width: 90vw;
  margin: 20px auto;
  font-family: "Courier New", Courier, monospace;
  display: flex;
  align-items: stretch;
}

.products {
  flex: 1 1 auto;
}

.products h1 {
  font-size: 35px;
  text-align: center;
  font-weight: 600;
  text-decoration: underline;
}

.product {
  flex: 0 1 30%;
}

.product h3 {
  font-size: 30px;
  margin-bottom: 10px;
  text-align: center;
}

.row {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  margin: 30px 0px 0px 0px;
}

.product-img img {
  width: 100%;
  border-radius: 10px;
}
.product-img {
  overflow: hidden;
}

.add-to-cart {
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #ae88dd;
  border: 1px solid #000000;
}

.price {
  font-size: 20px;
  font-weight: 600;
  margin: 10px 0px;
}

.cart-item {
  border: 1px solid #000;
  padding: 10px 7px;
  border-radius: 7px;
  margin: 0px 0px 20px 0px;

}

.btns{
  display: flex;
  gap: 10px;
  margin: 10px 0px;
}

.btns button{
  padding: 5px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.488);
}

.add{
  background-color: greenyellow;
}

.remove{
  background-color: red;
}

.cart-item h3 {
  font-weight: 600;
}


.total-price{
  margin-top: 10px;
  font-size: 19px;
}

.discount{
  margin-top: 10px;
}

.discount-btns button:first-child{
  background-color: rgb(0, 255, 170);
}
.discount-btns button:last-child{
  background-color: rgb(255, 0, 115);
}